# Server
PORT=3000

# MongoDB (NoSQL)
#Dev thì xài Local MongoDB Server (Quản lý bằng Compass)
#Production thì chuyển URI thành của Atlas
MONGO_URI=replace_with_your_mongo_uri

# Oracle (SQL)
ORACLE_USER=replace_with_your_oracle_user
ORACLE_PASSWORD=replace_with_your_oracle_password
ORACLE_CONNECTION_STRING=replace_with_your_connection_string

# Redis (Cache)
REDIS_HOST=replace_with_your_redis_host
REDIS_PORT=replace_with_your_redis_port
REDIS_PASSWORD=replace_with_your_redis_password_if_any